/* Custom styles that are not directly replaceable with Tailwind */
@keyframes customFadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.custom-fade-in {
    animation: customFadeIn 1s ease-out;
}

.navbar ul li:first-child a {
    padding-left: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;
}

.dropdown-content a:hover {
    background-color: #1C75BC;
    /* Use Tailwind's color here if possible */
}

/* Complex selectors or styles that rely on specific structure or behavior */
.sidebar .dropdown .dropdown-content {
    position: relative;
}

.navbar .dropdown {
    position: relative;
    display: inline-block;
}

/* Any other complex or specific styles... */