
/* Begin Algemeen */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    font-family: sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
footer body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}
header body{
    
        font-family: 'Poppins', sans-serif;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      color: #212112;
      background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
      background-position: center;
      background-repeat: repeat;
      background-size: 7%;
      background-color: #fff;
      overflow-x: hidden;
        transition: all 200ms linear;
    
}

ul{
    list-style: none;
}
table{
    position: relative;
    left:12.5%;
}

/* Einde Algemeen */
/* Header Begin */
.header-blue {
    background: linear-gradient(135deg, #fe2929, #ffb3c5);
    background-color: #184e8e;
    padding-bottom: 80px;
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  @media (min-width:768px) {
    .header-blue {
      padding-bottom: 120px;
    }
  }
  
  .header-blue .navbar {
    background: transparent;
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #fff;
    border-radius: 0;
    box-shadow: none;
    border: none;
  }
  
  @media (min-width:768px) {
    .header-blue .navbar {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
  
  .header-blue .navbar .navbar-brand {
    font-weight: bold;
    color: inherit;
  }
  
  .header-blue .navbar .navbar-brand:hover {
    color: #f0f0f0;
  }
  
  .header-blue .navbar .navbar-collapse {
    border-top: 1px solid rgba(255,255,255,0.3);
    margin-top: .5rem;
  }
  
  @media (min-width:768px) {
    .header-blue .navbar .navbar-collapse {
      border-color: transparent;
      margin: 0;
    }
  }
  
  .header-blue .navbar .navbar-collapse span .login {
    color: #fff;
    margin-right: .5rem;
    text-decoration: none;
  }
  
  .header-blue .navbar .navbar-collapse span .login:hover {
    color: #fff;
  }
  
  .header-blue .navbar .navbar-toggler {
    border-color: rgba(255,255,255,0.3);
  }
  
  .header-blue .navbar .navbar-toggler:hover, .header-blue .navbar-toggler:focus {
    background: none;
  }
  
  @media (min-width: 768px) {
    .header-blue .navbar-nav .nav-link {
      padding-left: .7rem;
      padding-right: .7rem;
    }
  }
  
  @media (min-width: 992px) {
    .header-blue .navbar-nav .nav-link {
      padding-left: 1.2rem;
      padding-right: 1.2rem;
    }
  }
  
  .header-blue .navbar.navbar-light .navbar-nav .nav-link {
    color: #fff;
  }
  
  .header-blue .navbar.navbar-light .navbar-nav .nav-link:focus, .header-blue .navbar.navbar-light .navbar-nav .nav-link:hover {
    color: #fcfeff !important;
    background-color: transparent;
  }
  
  .header-blue .navbar .navbar-nav > li > .dropdown-menu {
    margin-top: -5px;
    box-shadow: 0 4px 8px rgba(0,0,0,.1);
    background-color: #fff;
    border-radius: 2px;
  }
  
  .header-blue .navbar .dropdown-menu .dropdown-item:focus, .header-blue .navbar .dropdown-menu .dropdown-item {
    line-height: 2;
    color: #37434d;
  }
  
  .header-blue .navbar .dropdown-menu .dropdown-item:focus, .header-blue .navbar .dropdown-menu .dropdown-item:hover {
    background: #ebeff1;
  }
  
  .header-blue .action-button, .header-blue .action-button:not(.disabled):active {
    border: 1px solid rgb(255,255,255);
    border-radius: 40px;
    color: #fff;
    box-shadow: none;
    text-shadow: none;
    padding: .3rem .8rem;
    background: transparent;
    transition: background-color 0.25s;
    outline: none;
  }
  
  .header-blue .action-button:hover {
    color: #fff;
  }
  
  .header-blue .navbar .form-inline label {
    color: #d9d9d9;
  }
  
  .header-blue .navbar .form-inline .search-field {
    display: inline-block;
    width: 80%;
    background: none;
    border: none;
    border-bottom: 1px solid transparent;
    border-radius: 0;
    color: #fff;
    box-shadow: none;
    color: inherit;
    transition: border-bottom-color 0.3s;
  }
  
  .header-blue .navbar .form-inline .search-field:focus {
    border-bottom: 1px solid #ccc;
  }
  
  .header-blue .hero {
    margin-top: 20px;
    text-align: center;
  }
  
  @media (min-width:768px) {
    .header-blue .hero {
      margin-top: 60px;
      text-align: left;
    }
  }
  
  .header-blue .hero h1 {
    color: #fff;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 300;
    line-height: 1.4;
  }
  
  @media (min-width:992px) {
    .header-blue .hero h1 {
      margin-top: 190px;
      margin-bottom: 24px;
      line-height: 1.2;
    }
  }
  
  .header-blue .hero p {
    color: rgba(255,255,255,0.8);
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 300;
  }
  
  .header-blue .phone-holder {
    text-align: right;
  }
  
  .header-blue div.iphone-mockup {
   position: relative;
      max-width: 300px;
      margin-top: 172px;
      display: inline-block;
  }
  
  .header-blue .iphone-mockup img.device {
    width: 100%;
    height: auto;
  }
  
  .header-blue .iphone-mockup .screen {
    position: absolute;
    width: 88%;
    height: 77%;
    top: 12%;
    border-radius: 2px;
    left: 6%;
    border: 1px solid #444;
    background-color: #aaa;
    overflow: hidden;
    background: url(../../assets/img/screen-content-iphone-6.jpg);
    background-size: cover;
    background-position: center;
  }
  
  .header-blue .iphone-mockup .screen:before {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 70%;
    height: 140%;
    top: -12%;
    right: -60%;
    transform: rotate(-19deg);
    opacity: 0.2;
  }
/*
.header-top {
    color: #ccc;
    position: relative;
    height: 55.4px;
    align-items: center;
    
}


.header-bottom {
    position: relative;
    color: #000;
    height: 55.4px;
}
*/
header {
    background: linear-gradient(180deg, black 50%, white 50%);
    height: 110px;
    width: 1519.2px;
    border-bottom: 1px solid #ccc;

}
/* Einde Header */
/* Navigation Begin */
.navigation {
    width: 85%;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 40%;
    position: relative;
    margin-right: 1.5vw;
}
.navigation ul li{
list-style: none;
display: inline-block;
margin: 0 20px;
}
.navigation ul li a{
    text-decoration: none;
    color:rgb(0, 0, 0);
    text-transform:uppercase ;
}
/* Einde Navigation/*
/* Begin Footer */

.container-footer {
    max-width: 1170px;
    margin: auto;
}
.rij{
    display: flex;
    flex-wrap: wrap;
}
.footer{
    background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #1e5ee9;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}   
.footer-col .social-links a:hover{
    color: #1e5ee9;
    background-color: #ffffff;
}

/* Einde Footer */
/* Begin Media Responses */
@media (max-width: 767px ){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
}
}
@media(max-width: 574px){
    .footer-col{
    width: 100%;
    }
}
/* Einde Media Responses */
/* Begin Main */

.main-container img{
    width: 334px;
    height: auto;
    display: inline-flexbox;
    justify-content: space-between;
    text-align: center;
    margin-right: 1.5vw;
    position: relative;
    left: 5%;
    margin: 0 60px;
}
.main-container ul li{
    list-style: none;
    display: inline-block;
    margin: 0 175px;
    position: relative;
    

}
.main-container ul li a{
    text-decoration: none;
    color:rgb(0, 0, 0);
    text-transform:uppercase ;

}
/* Einde Main */



