
/* Begin Algemeen */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    font-family: sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}



ul{
    list-style: none;
}
table{
    position: relative;
    left:12.5%;
}
/* Einde Algemeen */
/* Header Begin */


body{
    background:#eee;
}

.header2 {
  font-family: "Montserrat", sans-serif;
  color: #8d97ad;
  font-weight: 300;
}

.header2.bg-success-gradiant {
  background: #2cdd9b;
  background: -webkit-linear-gradient(legacy-direction(to right), #2cdd9b 0%, #1dc8cc 100%);
  background: -webkit-gradient(linear, left top, right top, from(#2cdd9b), to(#1dc8cc));
  background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
  background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
  background: linear-gradient(to right, #2cdd9b 0%, #1dc8cc 100%);
}

.header2 .font-12 {
  font-size: 12px;
}

.header2 .dropdown-item {
  padding: 8px 1rem;
  color: #8d97ad;
}

.header2 .h2-nav .navbar-nav .nav-item .nav-link {
  padding: 12px 0px;
  color: #ffffff;
  font-weight: 400;
}

.header2 .h2-nav .navbar-nav .nav-item .nav-link:hover {
  color: #263238;
}

.header2 .h2-nav .navbar-nav .nav-item {
  margin: 0 20px;
}

@media (min-width: 1024px) {
  .header2 .navbar-nav > .dropdown .dropdown-menu {
    min-width: 210px;
    margin-top: 0px;
  }
}

@media (min-width: 1024px) {
  .header2 .dropdown-submenu:hover > .dropdown-menu {
    display: block;
  }
}

.header2 .dropdown-toggle::after {
  display: none;
}

@media (min-width: 1024px) {
  .header2 .hover-dropdown .navbar-nav > .dropdown:hover > .dropdown-menu {
    display: block;
    margin-top: 0px;
  }
}

.header2 .btn-dark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.header2 .btn-dark:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}

.header2 .h2-nav .navbar-nav .nav-item .btn {
  opacity: 0.5;
}
 
.header2 .h2-nav .navbar-nav .nav-item .btn:hover {
  opacity: 1;
}

.header2 .dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: 0;
  border-radius: 0.25rem;
  display: none;
}


/*
.header-top {
    color: #ccc;
    position: relative;
    height: 55.4px;
    align-items: center;
    
}


.header-bottom {
    position: relative;
    color: #000;
    height: 55.4px;
}

header {
    background: linear-gradient(180deg, black 50%, white 50%);
    height: 110px;
    width: 1519.2px;
    border-bottom: 1px solid #ccc;
}*/
    
/* Einde Header */
/* Navigation Begin */
.navigation {
    width: 85%;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 40%;
    position: relative;
    margin-right: 1.5vw;
}
.navigation ul li{
list-style: none;
display: inline-block;
margin: 0 20px;
}
.navigation ul li a{
    text-decoration: none;
    color:rgb(0, 0, 0);
    text-transform:uppercase ;
}
/* Einde Navigation/*
/* Begin Footer */

.container-footer {
    max-width: 1170px;
    margin: auto;
}
.rij{
    display: flex;
    flex-wrap: wrap;
}
.footer{
    background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #1e5ee9;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}   
.footer-col .social-links a:hover{
    color: #1e5ee9;
    background-color: #ffffff;
}

/* Einde Footer */
/* Begin Media Responses */
@media (max-width: 767px ){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
}
}
@media(max-width: 574px){
    .footer-col{
    width: 100%;
    }
}
/* Einde Media Responses */
/* Begin Main */

.main-container img{
    width: 334px;
    height: auto;
    display: inline-flexbox;
    justify-content: space-between;
    text-align: center;
    margin-right: 1.5vw;
    position: relative;
    left: 5%;
    margin: 0 60px;
}
.main-container ul li{
    list-style: none;
    display: inline-block;
    margin: 0 175px;
    position: relative;
    

}
.main-container ul li a{
    text-decoration: none;
    color:rgb(0, 0, 0);
    text-transform:uppercase ;

}
/* Einde Main */



